@media (max-width: 769px) {

    /* Three Circles */
    .circle{
        width: 200px;
        height: 200px;
    }
    .circle:nth-of-type(1) {
        right: -6%;
    }
    .circle:nth-of-type(2) {
        right: 6%;
    }
    .circle:nth-of-type(3) {
        right: -10%;
    }

    /* Buttons */
    .btn-flex {
        display: var(--Dflex);
        flex-direction: var(--column);
        align-items: center;
    }
    .btn-position:not(#contact .btn-position) {
        margin-top: var(--size-30px);
    }

    /* Projects Top Margin */
    .webdesign-filter-btn {
        display: none;
    }
    .filter-button-group .btn-position:nth-child(4) .stroke {
        display: none;
    }
    .projects:nth-child(4) {
        display: none;
    }
    .projects {
        margin-top: 90px;
    }
    .figma-btn {
        display: none;
    }
}

@media (max-width: 577px) {

    /* Menu Link Font Size & Menu Size */
    .link {
        font-size: 13px;
    }
    .menu {
        line-height: 100px;
    }

    /* Main Title & Paragraph's size */
    #main h1 {
        font-size: 110px;
        line-height: 90px;
    }
    p {
        font-size: 18px;
    }

    /* Footer Column and Font Paragraph size */
    #footer .container {
        flex-direction: var(--column);
        align-items: var(--center);
    }
    #footer p {
        margin-top: 0;
        font-size: 14px;
    }
}

@media (max-width: 450px) {

    /* Logo Size, Main Title and Paragraphs */
    .logo {
        font-size: 25px;
    }
    #main h1 {
        font-size: 70px;
        line-height: 55px;
        margin-top: 120px;
    }
    p {
        font-size: 16px;
        text-align: var(--center);
    }

    /* Three Circles */
    .circle{
        width: 130px;
        height: 130px;
    }
    .circle:nth-of-type(1) {
        top: 12%;
        right: -15%;
    }
    .circle:nth-of-type(2) {
        right: -3%;
    }
    .circle:nth-of-type(3) {
        top: 21%;
        right: -17%;
    }

    /* Buttons */
    .button, .stroke {
        width: 140px;
        height: 48px;
    }
    .button {
        font-size: 11px;
    }
    .button:hover {
        transform: translate(12px, 12px);
    }
}