@media (max-width: 992px) {
    .link-btn .style-btn:first-child {
        margin-right: var(--size-20px);
    }
    #sobre .link-btn .style-btn:nth-child(2) {
        margin-right: var(--size-20px);
    }
}
@media (max-width: 769px) {
    #main h1 {
        font-size: 130px;
        line-height: 103px;
    }
    .circle{
        width: 200px;
        height: 200px;
    }
    .circle:nth-of-type(1) {
        right: -6%;
    }
    .circle:nth-of-type(2) {
        right: 6%;
    }
    .circle:nth-of-type(3) {
        right: -10%;
    }
    .filter-btn {
        flex-direction: var(--column);
        align-items: var(--center);
        margin-top: var(--size-20px);
    }
    .filter-btn .style-btn:nth-of-type(2) {
        margin: var(--size-20px) 0 10px 0;
    }
    .filter-btn .style-btn:nth-of-type(3) {
        margin: 10px 0 var(--size-20px) 0;
    }
    .projects {
        margin-top: 90px;
    }
}

@media (max-width: 577px) {
    .link {
        font-size: 13px;
    }
    .invisible-board {
        height: 455px;
    }
    .menu {
        line-height: 115px;
    }
    #main h1 {
        font-size: 110px;
        line-height: 90px;
    }
    p {
        font-size: 18px;
    }
    #sobre .link-btn {
        display: var(--Dflex);
        flex-direction: var(--column);
        align-items: var(--center);
        margin-top: var(--size-50px);
    }
    #sobre .link-btn .style-btn:nth-child(1){
        margin-left: var(--size-20px);
    }
    #sobre .link-btn .style-btn:nth-child(2){
        margin: var(--size-30px) 0;
    }
    #footer .container-fluid {
        flex-direction: var(--column);
        align-items: var(--center);
    }
    #footer p {
        margin-top: 0;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 25px;
    }
    #main h1 {
        font-size: 70px;
        line-height: 55px;
        margin-top: 120px;
    }
    p {
        font-size: 16px;
        text-align: var(--center);
    }
    .circle{
        width: 130px;
        height: 130px;
    }
    .circle:nth-of-type(1) {
        top: 12%;
        right: -15%;
    }
    .circle:nth-of-type(2) {
        right: -3%;
    }
    .circle:nth-of-type(3) {
        top: 21%;
        right: -17%;
    }
    .button {
        width: 140px;
        height: 48px;
        font-size: 11px;
    }
    .stroke {
        width: 140px;
        height: 48px;
    }
    .button:hover {
        transform: translate(12px, 12px);
    }
}
