/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@300;700&display=swap');

/* Varibles */
:root {

    /* Font */
    --lg-font: 'Abril Fatface', cursive;
    --sm-font: 'Nunito', sans-serif;

    /* Colors */
    --bg-color: #EBEBEB;
    --white: #fff;
    --black: #000;
    --blue: #16B6E9;
    --orange: #F08508;
    --purple: #960D67;

    /* Flexbox */
    --Dflex: flex;
    --column: column;
    --space-between: space-between;
    --center: center;

    /*Positions*/
    --relative: relative;
    --absolute: absolute;

    /* Size */
    --size-0: 0;
    --size-12px: 12px;
    --size-20px: 20px; 
    --size-30px: 30px;
    --size-50px: 50px;
    --size-230px: 230px;

    /* Transition */
    --all-ease: all 0.6s ease;
    
}

/* Initial Settings */
body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    font-family: var(--sm-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: 2px;
    font-size: var(12px);
}
h1, p {
    margin: var(--size-0);
}
h2 {
    font-family: var(--lg-font);
    text-align: var(--center);
    margin-bottom: var(--size-0);
}
p {
    font-family: var(--sm-font);
    font-size: var(--size-20px);
    font-weight: light;
    margin: var(--size-30px) auto var(--size-0);
    text-align: var(--center);
}
ul {
    list-style-type: none;
}
#sobre, #portfolio, #skills, #contact {
    margin-top: var(--size-230px);
}

/* NAVBAR */
.navbar {
    position: var(--relative);
    padding-top: var(--size-20px);
}
.logo {
    font-family: var(--lg-font);
    font-size: var(--size-30px);
    color: var(--black);
    font-weight: 300;
    letter-spacing: -2px;
}
.logo:hover {
    color: var(--black);
}
/* END NAVBAR */

/* MAIN */
#main {
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
    justify-content: var(--center);
}
#main h1 {
    font-family: var(--lg-font);
    font-size: 150px;
    line-height: 118px;
    text-align: end;
    margin-top: 100px;
    text-shadow: 8px 14px 10px rgba(0, 0, 0, 0.3);
}
/* END MAIN */

/* SOBRE */
#sobre p {
    max-width: 800px;
    text-align: justify;
}
/* END SOBRE */

/* PORTFOLIO */
/* Projects */
.project {
    /*margin-top: 150px;*/
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
}
.project img {
    box-shadow: 8px 14px 10px rgba(0, 0, 0, 0.2);
}
.project h6 {
    font-family: var(--sm-font);
    font-weight: bold;
    font-size: var(--size-12px);
    letter-spacing: 8px;
    margin-top: var(--size-20px);
    margin-bottom: var(--size-0);
}
.project h2 {
    margin-top: 10px;
}
#portfolio .project p {
    text-align: var(--center);
    margin-top: var(--size-20px);
}
/* END PORTFOLIO */

/* SKILLS */
#skills p {
    margin: var(--size-0);
}
#skills .row {
    display: var(--Dflex);
    justify-content: var(--center);
    margin-top: var(--size-50px);
}
.box {
    width: 150px;
    height: 150px;
    display: var(--Dflex);
    justify-content: var(--center);
    align-items: var(--center);
    color: var(--black);
    font-size: 16px;
    box-shadow: 6px 6px var(--size-12px) rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 10px;
}

/* END SKILLS */

/* CONTACT */
#contact .container {
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
}
#contact .img-fluid {
    width: 200px;
    transform: translateY(13px);
}

/* END CONTACT */

/* FOOTER */
#footer {
    margin: 70px 0 20px;
}
#footer .container {
    display: var(--Dflex);
    justify-content: var(--space-between);
}
#footer p {
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
}
/* END FOOTER */






