/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:wght@300;700&display=swap');

/* Varibles */
:root {

    /* Font */
    --lg-font: 'Abril Fatface', cursive;
    --sm-font: 'Nunito', sans-serif;

    /* Colors */
    --bg-color: #EBEBEB;
    --white: #fff;
    --black: #000;
    --blue: #16B6E9;
    --orange: #F08508;
    --purple: #960D67;

    /* Flexbox */
    --Dflex: flex;
    --column: column;
    --space-between: space-between;
    --center: center;

    /*Positions*/
    --relative: relative;
    --absolute: absolute;

    /* Size */
    --size-0: 0;
    --size-12px: 12px;
    --size-20px: 20px; 
    --size-30px: 30px;
    --size-50px: 50px;
    --size-230px: 230px;

    /* Transition */
    --all-ease: all 0.6s ease;
    
}

/* Initial Settings */
body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    font-family: var(--sm-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: 2px;
    font-size: var(12px);
}

h1, p {
    margin: var(--size-0);
}
ul {
    list-style-type: none;
}

/* NAVBAR */
.navbar {
    position: var(--relative);
    padding-top: var(--size-20px);
}
.logo {
    font-family: var(--lg-font);
    font-size: var(--size-30px);
    color: var(--black);
    font-weight: 300;
    letter-spacing: -2px;
}
.logo:hover {
    color: var(--black);
}
#menu {
    display: none;
    position: var(--absolute);
    z-index: 2;
    top: 100px;
    display: var(--Dflex);
    flex-direction: var(--column);
    background-color: var(--white);
    width: 100%;
    right: 100%;
    padding-left: 0;
    gap: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
#menu.active {
    display: var(--Dflex);
    opacity: 1;
    right: 0;
}
.link {
    color: var(--black);
    width: 100%;
    line-height: 120px;
    text-align: var(--center);
}
.link:hover {
    color: var(--black);
    letter-spacing: 5px;
}
.list:hover {
    background-color: var(--bg-color);
}
.link, .list {
    transition: all 0.3s ease;
}
#btnmobile {
    border-top: 2.5px solid var(--black);
    width: 30px;
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
}
#btnmobile::after, #btnmobile::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--black);
    margin-top: 7px;
    transition: all 0.5s ease;
}
#btnmobile.active {
    border-top-color: transparent;
}
#btnmobile.active::before {
    transform: rotate(135deg) translateY(-4px);
}
#btnmobile.active::after {
    transform: rotate(-135deg) translateY(8px);
}
/* END NAVBAR */

/* MAIN */
#main {
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
    justify-content: var(--center);
}
#main h1 {
    font-family: var(--lg-font);
    font-size: 150px;
    line-height: 118px;
    text-align: end;
    margin-top: 100px;
    text-shadow: 8px 14px 10px rgba(0, 0, 0, 0.3);
}
.circle{
    /*position: absolute;*/
    position: fixed;
    z-index: var(--size-0);
    width: var(--size-230px);
    height: var(--size-230px);
    border-radius: 50%;
    filter: blur(var(--size-50px));
    opacity: 1;
}
.circle:nth-of-type(1) {
    background-color: var(--blue);
    top: 8%;
    right: 19%;
    z-index: -2;
    animation: myEffects1 600ms ease-out 0.1s infinite alternate none;
}
.circle:nth-of-type(2) {
    background-color: var(--purple);
    top: 20%;
    right: 26%;
    z-index: -3;
    animation: myEffects2 900ms ease-out 0.1s infinite alternate none;
}
.circle:nth-of-type(3) {
    background-color: var(--orange);
    top: 25%;
    right: 17%;
    z-index: -1;
    animation: myEffects3 800ms ease 0.1s infinite alternate none;
}

@keyframes myEffects1 {
    to {
        transform: scale(1.2);
        filter: blur(var(--size-20px));
    }
}
@keyframes myEffects2 {
    to {
        transform: translate(-40px, 20px) scale(1.1);
        filter: blur(17px);
    }
}
@keyframes myEffects3 {
    to {
        transform: translate(-20px, 50px) scale(1.1);
        filter: blur(15px);
    }
}
p {
    font-family: var(--sm-font);
    font-size: var(--size-20px);
    font-weight: light;
    margin-top: var(--size-30px);
}
.button {
    position: var(--absolute);
    z-index: 1;
    width: 150px;
    height: 58px;
    display: var(--Dflex);
    justify-content: var(--center);
    align-items: var(--center);
    font-family: var(--sm-font);
    font-size: var(--size-12px);
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
    transition: all 0.3s ease;
}
.stroke {
    border: 2px solid black;
    width: 149px;
    height: 58px;
    position: var(--relative);
    z-index: var(--size-0);
    right: -9%;
    bottom: -13px;
}
.button:hover {
    transform: translate(13px, 13px);
}

/* FADE Effect */
    /* Header, Paragrapg, Button */
    #main h1.glass-effect,
    #main p.glass-effect,
    .style-btn.glass-effect {
        filter: blur(10px);
    }
    #main h1, 
    p, 
    .style-btn {
        transition: var(--all-ease);
    }

/* END MAIN */


/* PORTFOLIO */
#portfolio {
    margin-top: var(--size-230px);
}
/*#portfolio*/ h2 {
    font-family: var(--lg-font);
    text-align: var(--center);
    margin-bottom: var(--size-0);
}
#portfolio p {
    text-align: var(--center);
}
.filter-btn {
    display: var(--Dflex);
    justify-content: var(--center);
    margin-top: var(--size-50px);
}
button {
    border: none;
    text-transform: uppercase;
}
.filter-btn .style-btn:nth-of-type(2) {
    margin-right: var(--size-12px);
    margin-left: 24px;
}
.filter-btn .style-btn:nth-of-type(3) {
    margin-right: 24px;
    margin-left: var(--size-12px);
}
.filter-btn .style-btn:nth-of-type(1) .button:hover {
    background-color: var(--white);
    color: var(--black);
}
.filter-btn .style-btn:nth-of-type(2) .button:hover {
    background-color: var(--blue);
}
.filter-btn .style-btn:nth-of-type(3) .button:hover {
    background-color: var(--orange);
}
.filter-btn .style-btn:nth-of-type(4) .button:hover {
    background-color: var(--purple);
}
.active-filter-btn {
    background-color: var(--white);
    color: var(--black);
    transform: translate(13px, 13px);
}

/* Projects */

.projects {
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
    margin-top: 150px;
}
.projects h6 {
    font-family: var(--sm-font);
    font-weight: bold;
    font-size: var(--size-12px);
    letter-spacing: 8px;
    margin-top: var(--size-20px);
    margin-bottom: var(--size-0);
}
.projects h2 {
    margin-top: 10px;
}
#portfolio .projects p {
    text-align: var(--center);
    margin-top: var(--size-20px);
    margin-bottom: var(--size-30px);
}
.link-btn {
    display: var(--Dflex);
}
.link-btn .style-btn:first-child {
    margin-right: var(--size-30px);
}

/* END PORTFOLIO */

/* SKILLS */
#skills {
    margin-top: var(--size-230px);
}
#skills p {
    margin: var(--size-0);
}
#skills .row {
    display: var(--Dflex);
    justify-content: var(--center);
    margin-top: var(--size-50px);
}
.box {
    width: 150px;
    height: 150px;
    display: var(--Dflex);
    justify-content: var(--center);
    align-items: var(--center);
    color: var(--black);
    font-size: 16px;
    box-shadow: 6px 6px var(--size-12px) rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: 10px;
}

/* END SKILLS */

/* SOBRE */
    #sobre {
        margin-top: var(--size-230px);
    }
    #sobre p {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        text-align: justify;
    }
    #sobre .link-btn {
        display: var(--Dflex);
        justify-content: var(--center);
        margin-top: var(--size-50px);
    }
    #sobre .link-btn .style-btn:nth-child(2) {
        margin-right: var(--size-30px);
    }
    #sobre .link-btn .style-btn:nth-child(1) .button:hover{
        background-color: var(--blue);
    }
    #sobre .link-btn .style-btn:nth-child(2) .button:hover{
        background-color: var(--orange);
    }
    #sobre .link-btn .style-btn:nth-child(3) .button:hover{
        background-color: var(--purple);
    }
/* END SOBRE */

/* CONTACT */
#contact {
    margin-top: var(--size-230px);
}
#contact .container {
    display: var(--Dflex);
    flex-direction: var(--column);
    align-items: var(--center);
}
#contact p {
    margin: var(--size-30px) var(--size-0) var(--size-0);
    text-align: var(--center);
}
#contact .img-fluid {
    width: 200px;
    transform: translateY(13px);
}

/* END CONTACT */

/* FOOTER */
#footer {
    padding: 80px var(--size-30px) var(--size-20px);
}
#footer .container-fluid {
    display: var(--Dflex);
    justify-content: var(--space-between);
}
#footer p {
    font-size: 16px;
}
/* END FOOTER */






